.BuildControl {
    float: left;
    background-color: #222;
    color: white;
    border-right: 1px solid #ccc;
    border-radius: 8px;
    height: 6vh;
    width: 100px;
    text-align: center;
    padding: 5px;
    margin: 0px;
    box-sizing: border-box;
}