.Avatar {
    padding: 8px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.Avatar img {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}